node_modules

# build output
build
docs/generated

# error logs from yarn
yarn-error.log
msbuild.binlog

**/*.tsbuildinfo
**/.rollup.cache
**/.trace

# Temp config files while vite is being compiled
**/vite.config.js.timestamp-*.mjs

.nx
vite.config.*.timestamp*
vitest.config.*.timestamp*