node_modules

# error logs from yarn
yarn-error.log
msbuild.binlog

*.tsbuildinfo
.rollup.cache
.trace

.nx
#vite temp files
vite.config.*.timestamp*
vitest.config.*.timestamp*

# files used to communicate between watchers in watch-pnpm-workspace
*.notice